body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

@keyframes example {
  0%   {background-color:#f9dcc4; left:0px; top:0px;}
  25%  {background-color:#fec89a; left:200px; top:0px;}
  50%  {background-color:#fec196; left:200px; top:200px;}
  75%  {background-color:#d8a48f; left:0px; top:200px;}
  100% {background-color:#f9dcc4; left:0px; top:0px;}
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #f9dcc4;
    color: #2b2839;
    border-right: 6px solid #ff87ab;
    border-radius: 2px;    
    box-shadow: 10px 10px 8px #888888;
    animation-name: example;
    animation-duration: 4s;
    /* animation-delay: -2s; */
    animation-iteration-count: infinite;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.card:hover {
  background-color: #ffe8d6;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
